# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# Environments
.env
.env.*
.venv/
venv/

# IDE
.vscode/
.idea/

# App artifacts
storage/
**/storage/
*.mp4
*.mov
*.avi
*.png
*.jpg
*.jpeg

# Node (future frontend)
node_modules/
